.addExpense-div {
    text-align: center;
    margin-top: 1rem;
}

.addExpense-header h3 {
    color: #5F9EA0;
    margin-top: 1rem;
}

.addExpense-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.addExpense-form input {
  width: 50%;
  margin-left: 25%;
}

.addExpense-form select {
    width: 50%;
    margin-left: 25%;
  }

.addExpenses-edit-cat {
    margin-top: 6rem;
    background-color: #5F9EA0;
    color: white;
}

.addExpense-save {
    margin-top: 1rem;
    width: 50%;
    margin-left: 25%;
    background-color: #5F9EA0;
    color: white;
}

.addExpense-form label {
    margin-top: 1rem;
    color: #5F9EA0;
    font-weight: bold;
}

.addExpense-main-btn {
    background-color: #5F9EA0;
    color: white;
}

.invalid {
    border: solid red;
    background-color: #E9967A;
}

