.budget-div {
    text-align: center;
    margin-top: 1rem;
}

.budget-add-btn {
    margin-left: 1rem;
    background-color: #5F9EA0;
    color: white;
}

.budget-main-btn {
    margin-top: 1rem;
    background-color: #5F9EA0;
    color: white;
}

.budget-div label {
    font-size: large;
    font-weight: bold;
}

.budget-div input{
    margin-top: 1rem;
}