.edit-categories-div {
    text-align: center;
    margin-top: 1rem;
}

.edit-cats-ul {
    list-style-type: none;
    margin-top: 1rem;
}

.edit-categories-div h3{
   margin-top: 1rem;
}

.edit-cats-add-new {
    margin-top: 1rem;
}

.edit-cats-ul li {
    margin-top: 1rem;
}

.edit-cats-toMain {
    background-color: grey;
    color: white;
}

.edit-cats-add-new {
    background-color: grey;
    color: white;
}

.edit-cats-delete {
    background-color: grey;
    color: white;
}